<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style>
      .wrap {
        width: 1200px;
        margin: auto;
      }
      {% block style %}
      {% endblock %}
    </style>
    
    <script>
        let id = '{{ id }}';

        function singUp(){
          $("#signUp_modal").attr("class", "modal is-active");
        }
  
        function close_signUp(){
          $("#userId").val("");
          $("#userPw").val("");
          $("#userPw2").val("");
          $("#signUp_modal").attr("class", "modal");
        }
  
        function login(){
          $("#login_modal").attr("class", "modal is-active");
        }
  
        function close_login(){
          $("#user_login_id").val("");
          $("#user_login_pw").val("");
          $("#login_modal").attr("class", "modal");
        }

        function idCheck(){
          var userId = $("#userId").val();
          var userPw = $("#userPw").val();
          var userPw2 = $("#userPw2").val();

          if(userPw != userPw2){
            alert('비밀번호를 확인해주세요');
            $("#userId").val('');
            $("#userPw").val('');
            $("#userPw2").val('');
            return
          }

          let reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,12}$/;

          if(!reg.test(userPw)){
            alert('영문, 숫자, 특수문자 포함 8~12자리로 입력해주세요');
            $("#userPw").val('');
            $("#userPw").focus();
            return
          }

          $.ajax({
            type: 'post',
            url: '/signUp',
            data: {'userId':userId, 'userPw':userPw},
            success: function(res){
              if(res['result'] == 'success'){
                alert('회원가입이 완료되었습니다.');
                location.href = '/'
              }
              else{
                alert(res['msg']);
                $("#userId").val('');
                $("#userPw").val('');
                $("#userPw2").val('');
                $("#userId").focus();
              }
            }
          })
        }
  
        function login_check(){
          var id = $("#user_login_id").val();
          var pw = $("#user_login_pw").val();
  
          $.ajax({
            type: 'post',
            url: '/login',
            data: {'id':id, 'pw':pw},
            success: function(res){
              if(res['result'] == 'success'){
                $.cookie('mytoken', res['token']);
                alert('로그인 완료!');
                location.href = '/'
              }
              else{
                alert(res['msg']);
              }
            }
          });
        }
  
        function logout(){
          $.removeCookie('mytoken');
          alert('로그아웃 되었습니다.');
          location.href = '/'
        }

        {% block script %}
        {% endblock %}
    </script>
  </head>
  <body>

    <!-- 토큰이 만료되었을 때 경고창에 msg 출력 -->
    {% if msg %}
      <script>
        alert("{{msg}}");
        $.removeCookie('mytoken');
      </script>
    {% endif %}

    <div class="wrap">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/"><img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" /></a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">Home</a>

            <a class="navbar-item">Documentation</a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">More</a>

              <div class="navbar-dropdown">
                <a class="navbar-item">About</a>
                <a class="navbar-item">Jobs</a>
                <a class="navbar-item">Contact</a>
                <hr class="navbar-divider" />
                <a class="navbar-item">Report an issue</a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if id == null %}
                  <a class="button is-primary" onclick="login()"><strong>Log in</strong></a>
                  <a class="button is-light" onclick="singUp()">Sign up</a>
                {% else %}
                  <a class="button is-white"><strong><b>{{ id }}님</b></strong></a>
                  <a class="button is-danger is-light" onclick="logout()"><strong>Log out</strong></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
      <section class="section">
        <div class="container">
          <h1 class="title">Hello World</h1>
          <p class="subtitle">
            My first website with <strong>Bulma</strong>!
          </p>
        </div>
      </section>
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>

    <div class="modal" id="signUp_modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title"><b>회원가입</b></p>
            <button type="button" class="delete" aria-label="close" onclick="close_signUp()"></button>
          </header>
          <section class="modal-card-body">
    
            <div class="field">
              <label class="label">ID</label>
              <div class="control">
                <input class="input" type="text" id="userId" placeholder="아이디를 입력해주세요">
              </div>
            </div>
    
            <div class="field">
              <label class="label">PASSWORD</label>
              <div class="control">
                <input class="input" type="password" id="userPw" placeholder="비밀번호를 입력해주세요">
              </div>
              <p class="help is-danger">영문, 숫자, 특수문자 포함 8~12자리</p>
            </div>
    
            <div class="field">
              <label class="label">CONFIRM PASSWORD</label>
              <div class="control">
                <input class="input" type="password" id="userPw2" placeholder="비밀번호 확인">
              </div>
            </div>
    
          </section>
          <footer class="modal-card-foot">
            <button type="button" class="button is-success" onclick="idCheck()">Sign up</button>
            <button type="button" class="button" onclick="close_signUp()">Cancel</button>
          </footer>
        </div>
      </div>
  
      <div class="modal" id="login_modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title"><b>로그인</b></p>
            <button class="delete" aria-label="close" onclick="close_login()"></button>
          </header>
          <section class="modal-card-body">
  
            <div class="field">
              <label class="label">ID</label>
              <div class="control">
                <input class="input" type="text" id="user_login_id" placeholder="아이디를 입력해주세요">
              </div>
            </div>
    
            <div class="field">
              <label class="label">PW</label>
              <div class="control">
                <input class="input" type="password" id="user_login_pw" placeholder="비밀번호를 입력해주세요">
              </div>
            </div>
  
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" onclick="login_check()">Login</button>
            <button class="button" onclick="close_login()">Cancel</button>
          </footer>
        </div>
      </div>
  
    </body>
  </html>
  </body>
</html>