{% extends "base.html" %}

{% block script %}
function postInfo() {
  let title = $("#post-title").val();
  let content = $("#post-content").val();
  $.ajax({
    type: "POST",
    url: "/create",
    data: {title_give:title, content_give:content},
    success: function (response) {
      if (response["result"]=="success") {
        alert("포스팅 성공");
        location.href = '/'
      } else {
        alert("서버 오류!");
      }
    }
  })
}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">게시글 작성</h1>
    <form>
      <div class="field">
        <label class="label">제목</label>
        <div class="control">
          <input id="post-title" class="input" type="text" placeholder="제목을 입력하세요">
        </div>
      </div>

      <div class="field">
        <label class="label">내용</label>
        <div class="control">
          <textarea id="post-content" class="textarea" placeholder="내용을 입력하세요"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" onclick="postInfo()">작성</button>
        </div>
        <div class="control">
          <button class="button is-light">취소</button>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}
