{% extends 'base.html' %}

{% block style %}
#post {
  height: 250px;
}
.place {
  /* 버튼을 절대 위치로 설정합니다. */
  padding: 10px 10px;
  /* 살짝 패딩을 추가합니다. */
  transform: translateY(-110%);
}
{% endblock %}

{% block content %}
{% if id != null %}
<button class="button is-success place" onclick="location.href='/create'">글쓰기</button>
{% endif %}
<div class="tile is-ancestor">
  {% for _, idx in zip(posts, [0,1,2]) %}
  <div class="tile is-vertical is-4" id="post">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{ posts[idx].title }}</p>
        <p class="subtitle">{{ posts[idx].content }}</p>
      </article>
    </div>
  </div>
  {% endfor %}
</div>

<div class="tile is-ancestor">
{% for idx in range(3, posts|length) %}
  <div class="tile is-parent" id="post">
    <article class="tile is-child box">
      <p class="title">{{ posts[idx].title }}</p>
      <p class="subtitle">{{ posts[idx].content }}</p>
    </article>
  </div>
{% endfor %}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
<a class="pagination-previous">Previous</a>
<a class="pagination-next">Next page</a>
<ul class="pagination-list">
  {% set page = page|int %}
  {% if page != 1 %}
    <li>
      <a class="pagination-link" href="?page={{ page - 1 }}">{{ page - 1 }}</a>
    </li>
  {% endif %}
  <li>
    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ page }}</a>
  </li>
  {% set last = last|int %}
  {% if page != last %}
    <li>
      <a class="pagination-link" href="?page={{ page + 1 }}">{{ page + 1 }}</a>
    </li>
  {% endif %}
</ul>
</nav>
{% endblock %}
