{% extends 'base.html' %}


{% block style %}
#post {
  cursor: pointer;
  height: 250px;
}
.place {
  /* 버튼을 절대 위치로 설정합니다. */
  padding: 10px 10px;
  /* 살짝 패딩을 추가합니다. */
  transform: translateY(-110%);
  position: absolute;
  right: 1%;
}
#btn-container {
  margin-bottom: 10px;
  display: flex;
}

.id {
  margin-bottom: 15px;
}
.pagination{
  margin-bottom: 1%
}

#content {
  width: 350px; /* 원하는 너비로 설정하세요 */
  max-height: calc(1.2em * 3); /* 세 줄까지의 높이를 계산합니다 */
  overflow: hidden;
  display: -webkit-box; /* 웹킷 기반 브라우저에서 다중 줄의 텍스트를 처리하기 위한 속성 */
  -webkit-line-clamp: 3; /* 보여줄 최대 줄 수 */
  -webkit-box-orient: vertical; /* 수직 방향으로 정렬 */
  text-overflow: ellipsis; /* 넘친 텍스트를 말줄임표(...)로 대체 */
  white-space: pre-line; /* 줄 바꿈을 허용하여 말줄임표가 나오도록 설정합니다 */
}

{% endblock %}

{% block content %}
<section class="section mb-6">
  <article class="panel is-link">
    <p class="panel-heading">오늘의 정보 📣</p>
    {% if toptitle == False %}
    <p class="panel-block">
      오늘 좋아요 받은 게시물이 없습니다.
    </p>
  {% else %}
  <a href="/post?pid={{toptitle._id}}" class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    {{ toptitle.title }}
</a>
  {% endif %}
  </article>
</section>

{% if id != null %}

<div class="container" id="btn-container">
  <button align="right" class="button is-success place" onclick="location.href='/create'">글쓰기</button>
</div>
{% endif %}
<div class="tile is-ancestor">
  {% for _, idx in zip(posts, [0,1,2]) %}
  <div class="tile is-vertical is-4" id="post" onclick="location.href='/post?pid={{posts[idx]._id}}'">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{ posts[idx].title }}</p>
        <p class="id">{{ posts[idx].id }}</p>
        <p class="subtitle" id="content">{{ posts[idx].content }}</p>
      </article>
    </div>
  </div>
  {% endfor %}
</div>

<div class="tile is-ancestor">
{% for idx in range(3, posts|length) %}
<div class="tile is-vertical is-4" id="post" onclick="location.href='/post?pid={{posts[idx]._id}}'">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">{{ posts[idx].title }}</p>
      <p class="id">{{ posts[idx].id }}</p>
      <p class="subtitle" id="content">{{ posts[idx].content }}</p>
    </article>
  </div>
</div>
{% endfor %}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% set page = page|int %}
{% if page != 1 %}
<a class="pagination-previous" href="?page={{ page - 1 }}">Previous</a>
{% endif %}
{% set last = last|int %}
{% if page != last %}
<a class="pagination-next" href="?page={{ page + 1 }}">Next page</a>
{% endif %}
<ul class="pagination-list">
  {% if page != 1 %}
    <li>
      <a class="pagination-link" href="?page={{ page - 1 }}">{{ page - 1 }}</a>
    </li>
  {% endif %}
  <li>
    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ page }}</a>
  </li>
  {% if page != last %}
    <li>
      <a class="pagination-link" href="?page={{ page + 1 }}">{{ page + 1 }}</a>
    </li>
  {% endif %}
</ul>
</nav>
{% endblock %}
