{% extends 'base.html' %}


{% block style %}
#userId {
  width: 495px;
}
#post {
  height: 250px;
}
.place {
  /* 버튼을 절대 위치로 설정합니다. */
  padding: 10px 10px;
  /* 살짝 패딩을 추가합니다. */
  transform: translateY(-110%);
  position: absolute;
  right: 1%;
}
#btn-container {
  margin-bottom: 10px;
  display: flex;
}

.name {
  margin-bottom: 15px;
}

{% endblock %}

{% block content %}
{% if id != null %}
<div class="container" id="btn-container">
  <button align="right" class="button is-success place" onclick="location.href='/create'">글쓰기</button>
</div>
{% endif %}
<div class="tile is-ancestor">
  {% for _, idx in zip(posts, [0,1,2]) %}
  <div class="tile is-vertical is-4" id="post" onclick="location.href='/post?pid={{posts[idx]._id}}'">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{ posts[idx].title }}</p>
        <p class="name">{{ posts[idx].name }}</p>
        <p class="subtitle">{{ posts[idx].content }}</p>
      </article>
    </div>
  </div>
  {% endfor %}
</div>

<div class="tile is-ancestor">
{% for idx in range(3, posts|length) %}
  <div class="tile is-parent" id="post" onclick="location.href='/post?pid={{posts[idx]._id}}'">
    <article class="tile is-child box">
      <p class="title">{{ posts[idx].title }}</p>
      <p class="name">{{ posts[idx].name }}</p>
      <p class="subtitle">{{ posts[idx].content }}</p>
    </article>
  </div>
{% endfor %}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% set page = page|int %}
{% if page != 1 %}
<a class="pagination-previous" href="?page={{ page - 1 }}">Previous</a>
{% endif %}
{% set last = last|int %}
{% if page != last %}
<a class="pagination-next" href="?page={{ page + 1 }}">Next page</a>
{% endif %}
<ul class="pagination-list">
  {% if page != 1 %}
    <li>
      <a class="pagination-link" href="?page={{ page - 1 }}">{{ page - 1 }}</a>
    </li>
  {% endif %}
  <li>
    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ page }}</a>
  </li>
  {% if page != last %}
    <li>
      <a class="pagination-link" href="?page={{ page + 1 }}">{{ page + 1 }}</a>
    </li>
  {% endif %}
</ul>
</nav>
{% endblock %}
