{% extends 'base.html' %}

{% block style %}
  .container {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .card {
    max-width: 800px;
    margin: 0 auto;
  }
  .card-content {
    padding: 3rem;
  }
  .liked {
    background-color: #ff3860; /* 좋아요 상태일 때 배경색 변경 */
  }
  .liked .icon {
      color: white; /* 좋아요 상태일 때 아이콘 색상 변경 */
  }

  #likeButton {
    margin-left: 10px;
    margin-bottom: 10px;
  }
{% endblock %}

{% block script %}
  function getData(){
    var pid = '{{pid}}';
    $.ajax({
      type: 'get',
      url: '/getData'+'?id={{id}}&title={{title}}&content={{content}}&pid='+pid,
      data:{},
      success: function(res){

      }
    })
  }

function toggleLike() {
  let userId = '{{ id }}';
  const pid = '{{pid}}';
  $.ajax({
    type: "POST",
    url: "/toggleLike",
    data: {userId: userId, pid: pid},
    success: function (response) {
      if (response['result']=='success') {
        console.log("Like toggled successfully");
        const button = document.getElementById('likeButton');
        const icon = document.getElementById('likeIcon');
        if (button.classList.contains('liked')) {
          button.classList.remove('liked');
          icon.classList.remove('fas');
          icon.classList.add('far'); // 좋아요 상태가 아닐 때는 빈 따봉 아이콘으로 변경
        } else {
          button.classList.add('liked');
          icon.classList.remove('far');
          icon.classList.add('fas'); // 좋아요 상태일 때는 채워진 따봉 아이콘으로 변경
        }
      }
    }
  })
}
{% endblock  %}

{% block content %}

<div class="container">
    <div class="card">
      <div class="card-content">
        <p class="title is-2 has-text-centered" id="title">{{ title }}</p>
        <p class="subtitle is-4 has-text-centered">{{writer_id}}</p>
        <div class="content">
          <p id="content">
            {{content}}
          </p>
        </div>
        <p class="is-size-6 has-text-centered">{{time}}</p>
      </div>
      <button id="likeButton" class="button" onclick="toggleLike()">
        <span class="icon">
            <i id="likeIcon" class="far fa-thumbs-up"></i> <!-- 따봉 아이콘 -->
        </span>
        <span id="likeText">Like</span>
      </button>
    </div>
    {% if id == writer_id %}
    <button class="button is-warning" onclick="getData()">수정</button>
    <button onclick="delete_post('{{ pid }}')">삭제</button>
    {% endif %}
  </div>
{% endblock %}
