{% extends 'base.html' %}

{% block style %}
  .container {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .card {
    max-width: 800px;
    margin: 0 auto;
  }
  .card-content {
    padding: 3rem;
  }
{% endblock %}

{% block script %}
  function getData(pid){
    $.ajax({
      type: 'get',
      url: '/getData'+'?id={{id}}&title={{title}}&content={{content}}&pid='+pid,
      data:{},
      success: function(res){
        location.href = '/getData?id={{id}}&title={{title}}&content={{content}}&pid='+pid;
      }
    })
  }

function toggleLike() {
  let userId = '{{ id }}';
  const pid = '{{pid}}';
  $.ajax({
    type: "POST",
    url: "/toggleLike",
    data: {userId: userId, pid: pid},
    success: function (response) {
      if (response['result']=='success') {
        console.log("Like toggled successfully");
        const button = document.getElementById('likeButton');
        if (button.innerText === 'Like') {
          button.innerText = 'Unlike';
        } else {
          button.innerText = 'Like';
        }
      }
    }
  })
}
{% endblock  %}

{% block content %}

<div class="container">
    <div class="card">
      <div class="card-content">
        <p class="title is-2 has-text-centered" id="title">{{ title }}</p>
        <p class="subtitle is-4 has-text-centered">{{writer_id}}</p>
        <div class="content">
          <p id="content">
            {{content}}
          </p>
        </div>
        <p class="is-size-6 has-text-centered">{{time}}</p>
      </div>
    </div>
    <button id="likeButton" onclick="toggleLike()">Like</button>
    {% if id == writer_id %}
    <button class="button is-warning" onclick="getData('{{ pid }}')">수정</button>
    <button onclick="delete_post('{{ pid }}')">삭제</button>
    {% endif %}
  </div>
{% endblock %}
